<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Servcios REST para entidades</h1>
    <p>Para poder acceder a los servicios REST hay que ingresar en RESTman</p>
    <p>la URL con los API correspondientes, que en este caso serian:</p>
    <ul>
        <li>/apiUsuarios</li>
        <li>/apiPartidas</li>
    </ul>
    <p>Una vez seleccionado el API se pueden usar los siguientes servicios REST:</p>
    <ul>
        <li>GET</li>
        <li>POST</li>
        <li>PUT</li>
        <li>DELETE</li>
    </ul>    
</body>
</html>