<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'style.css' %}", rel="stylesheet">
    <title>Iniciar Sesión</title>
</head>

<body>
    <div id="bg"></div>
    
    <form action="procesologin" method="POST">
        {% csrf_token%}
        <div class="form-field">
            <input type="text" placeholder="Número de lista" name="num_lista" required/>
        </div>

        <div class="form-field">
            <input type="text" placeholder="Grupo" name="grupo" required/>
        </div>

        <div class="form-field">
            <button class="btn" type="submit" placeholder="Grupo">Iniciar</button>
        </div>
    </form>
</body>
</html>